[fetch]
	prune = true
[push]
	default = simple
[core]
	autocrlf = input
	preloadindex = true
	fscache = true
	eol = lf
[gc]
	auto = 256
[status]
	submoduleSummary = false
[credential]
	helper = manager
[merge]
	conflictstyle = diff3
[alias]
	co = checkout
	st = status
	ci = commit
	unstage = reset HEAD --
[rerere]
	enabled = 1
